body {
  margin: 36px;
  margin-top: 0px;
  background-color: black;
}

section {
  height: 500px;
  padding-left: 300px;
  padding-right: 300px;
}

.header {
  display: flex;
  background-color: #1f2937;
  font-size: 24px;
  font-weight: bolder;
  color: #f9faf8;
  justify-content: space-between;
  align-items: center;
  padding-left: 300px;
  padding-right: 300px;
}

.links-container {
  display: flex;
  font-style: normal;
  justify-content: space-between;
  font-weight: lighter;
  font-size: 18px;
  color: #e5e7eb;
  width: 400px;
}

.section-1 {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  justify-content: space-between;
  align-items: flex-start;
}
.title {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.subtext {
  margin: 0px;
  font-size: 24px;
  font-weight: lighter;
}

.btn {
  width: 150px;
  height: 45px;
  margin: 10px;
  border-radius: 15px;
  color: white;
  background-color: #3882f6;
  font-size: 18px;
  font-weight: bold;
}

.img-placeholder {
  display: flex;
  width: 600px;
  height: 300px;
  background-color: gray;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: lighter;
  color: white;
}

.section-2 {
  display: flex;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  background-color: white;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.img-container {
  display: flex;
  flex-direction: row;
}

.img-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 24px;
  font-weight: lighter;
  margin: 30px;
  width: 200px;
  text-align: center;
}

.square-container {
  display: flex;
  border-color: #1f2937;
  width: 200px;
  height: 200px;
  border-width: 5px;
  border-color: darkblue;
  border-style: solid;
  border-radius: 25px;
}

.section-3 {
  display: flex;
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  flex-direction: column;
  justify-content: center;
}

.quote {
  margin: 25px;
  padding: 25px;
  max-width: 800px;
  align-self: center;
}

.quote-author {
  margin-top: 0px;
  margin-right: 100px;
  align-self: flex-end;
}

.section-4 {
  display: flex;
  height: 250px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.blue-container {
  display: flex;
  background-color: #3882f6;
  color: white;
  width: 800px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.btn.btn-whiteborder {
  border-color: white;
  border-style: solid;
  border-width: 3px;
}

.text-container {
  margin: 20px;
}

.section-5 {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  height: 80px;
  justify-content: center;
  font-style: italic;
}
